@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0 auto;
}
#mainstore {
    padding: 10px;
    width: 100%;
    height: 200px;
    font-family: "Roboto",Arial,sans-serif;
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 0px 10px 2px #0000002e;
}
.leftstore{
    width: 180px;
    height: 180px;
    float: left;
}
.rightstore{
    width: calc(100% - 180px);
    height: 180px;
    float: right;
    position: relative;
}
.lineone{
    margin: 10px 0px 0px 38px;
    color: #212121;
    font: inherit;
    font-size: 30px;
    font-weight: 300;
    line-height: 35px;
    text-align: left;
}
.categorystore{
    margin: 5px 0px 0px 38px;
    padding-inline-start: 0px;
    list-style:none;
    float:left;
    color: #33691e;
    font-weight: 700;
    font-size: 12px;
}
.categorystore li{
    margin: 0px 20px 0px 0px;
    position:relative;
    float:left;
}
.downloadsstore{
    font-size: 13px;
    font-weight: 300;
    color: #616161;
    text-align: right;
}
.outline{
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 26px;
}
.installstore {
    border-radius: 4px;
    padding: 10px 20px;
    text-align: center;
    float: right;
    font-size: 14px;
    font-weight: 500;
    background: #689f38;
    color: #FFF;
}